

*{
    font-family: 'Moon Dance', cursive;
    font-family: 'Rowdies', cursive;
    font-family: 'Solitreo', cursive;
}

*{box-sizing: border-box;}
header{background-color: bisque; width: 100%;}
h1{font-size: 75px; width: 100%; margin: 1px; border: 1px; padding: 1px;}
#leyenda{width: 70%; margin: 1px; border: 1px; padding: 1px; float: right;}
img{border-radius: 50%;}
a{width: 100%;}
nav{width: 100%; background-color: gainsboro;}
aside{width: 15%; background-color: antiquewhite; float: left;}
img.iconos{width: 100%; display: none;}
section{width: 80%; float: left; background-color: blanchedalmond; font-size: 25px;}

.datos{display: none;}

